<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body style="justify-items: center;align-content: center;">
<h1>Bienvenue sur l'application de bibliotheque</h1>
<ul>
    <li><a th:href="@{/usager}">Gérer les usagers</a></li>
    <li><a th:href="@{/oeuvres}">Gérer les œuvres</a></li>
    <li><a th:href="@{/exemplaires}">Gérer les exemplaires</a></li>
    <li><a th:href="@{/emprunts-reservations}">Gérer les emprunts et réservations</a></li>
</ul>
</body>
</html>
